*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    width: 1280px;
    height: 600px;
    background-color: #88a584
}

.content{
    background-color: #caefcd;
    width: 640px;
    height: 100%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;    
    gap: 20px;
    overflow: hidden;
}

.content_images{
    width: 400%;
    height: 100%;
    margin: 20px auto;
    
    display: flex;
    overflow: hidden;
    

}

.slider{
    width: 25%;
    height: 100%;
}

.mem_img{
    width: 100%;
    height: 100%;
}

.content_second-box{
    display: flex;
    background-color: #caefcd;
    height: 60px;

}
.content_second-box__string{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 70%;
    height: 100%;
    margin: 0px 0px 10px 0px;
}
.slide_string{
    width: 100%;
    height: 100%;
}
.touch_button{
    position: absolute;
    left: 0;
    visibility: collapse;
    
}

.label_for_button{
    width: 5%;
    min-height: 30px;
    border-radius: 100px;
    background-color: black;
    position: relative;
    left: 20%;
    top: 35 px;
    
}

.label_for_button:hover{
    cursor: pointer;
    background-color: aliceblue;
    color: aliceblue;
}

.label_for_button:focus-visible{
    background-color: blueviolet;
}

#first_button:checked ~ .num1{
    margin-left: 0%;
}
#second_button:checked ~ .num1{
    margin-left: -25%;
}
#third_button:checked ~ .num1{
    margin-left: -50%;
}
#fourth_button:checked ~ .num1{
    margin-left: -75%;
}

#second_button:checked ~ .first{
    margin-bottom: 30%;
}