*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: #88a584
}

.content{
    background-color: #caefcd;
    width: 50%;
    height: 100%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;    
    gap: 20px;
    overflow: hidden;
}

.content_images{
    width: 400%;
    height: 100%;
    margin: 20px auto;
    
    display: flex;
    overflow: hidden;
 
}

.slider{
    width: 25%;
    height: 100%;
}

.mem_img{
    width: 100%;
    height: 100%;
}

.content_second-box{
    display: flex;
    background-color: #caefcd;
    height: 60px;

}
.content_second-box__string{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 70%;
    height: 100%;
    margin: 0px 0px 10px 0px;
}
.slide_string{
    width: 100%;
    height: 100%;
    transition: left .5s .5s;
}


.touch_button{
    position: absolute;
    left: 0;
    visibility: collapse;   
}

.label_for_button{
    width: 5%;
    min-height: 30px;
    border-radius: 100px;
    background-color: black;
    position: relative;
    left: 20%;
    top: 35 px;   
}

.label_for_button:hover{
    cursor: pointer;
    background-color: aliceblue;
    color: aliceblue;
}

.label_for_button:focus-visible{
    background-color: blueviolet;
}

#first_button:checked ~ .num1{
    margin-left: 0%;
}
#second_button:checked ~ .num1{
    margin-left: -25%;
}
#third_button:checked ~ .num1{
    margin-left: -50%;
}
#fourth_button:checked ~ .num1{
    margin-left: -75%;
}

#first_button:checked ~ .one_img{
    visibility: visible;
    display: block;
}

#second_button:checked ~ .one_img{
    visibility: collapse;
}
#second_button:checked ~ .two_img{
    visibility: visible;
}
#third_button:checked ~ .two_img, .one_img{
    visibility: collapse;
}
#third_button:checked ~ .three_img{
    visibility: visible;

}
#fourth_button:checked ~ .three_img, .one_img{

    display: none;
}
#fourth_button:checked ~ .four_img{
    visibility: visible;
}


.slide_string{
    padding: 0px 0px 20px 20px;
    position: absolute;
    top: 90%;
    width: 25%;
    visibility: collapse;
}

.one_img{
    visibility: visible;
}

@media (max-width: 791px){
    .content{
        width: 80%;
        height: 120%;
    }
    .content_images{
        height: 80%;
    }
    .content_second-box{
        display: flex;
        flex-direction: column-reverse;
    }
    .container_buttons{
        display: inline-block;
        margin-left: calc((624px - 108px) / 2);
    }
    .slide_string{
        top: 110%;
        width: 70%;
        padding: 0% 0% 0% 6%;
    
    }
}