*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    width: 100vw;
    height: 95vh;
    background-color: #88a584
}

.content{
    background-color: #caefcd;
    width: 50%;
    height: 100%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;    
    gap: 20px;
    overflow: hidden;
}

.content_images{
    width: 400%;
    height: 85%;
    margin: 20px auto 0px auto;
    display: flex;
    overflow: hidden;
}

.slider{
    width: 25%;
    height: 100%;
}

.mem_img{
    width: 100%;
    height: 100%;
}

.content_second-box{
    display: flex;
    justify-content: space-around;
    background-color: #caefcd;
    height: 20%;

}
.content_second-box__string{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 70%;
    height: 400%;
}
.slide_string{
    width: 100%;
    height: 25%;
    transition: left .5s .5s;
    overflow: hidden;
}

.touch_button{
    position: absolute;
    left: 0;
    visibility: collapse;   
}

.container_buttons{
    display: flex;
    gap: 1rem;
    /* margin: auto auto; */
}

.label_for_button > div{
    width: 1.3em;
    height: 1.3em;
    border-radius: 100px;
    background-color: black;
    padding: 3px;
}

#first_button:checked ~ .content_second-box > .content_second-box__buttons > .container_buttons > .label_for_button:nth-of-type(1) > div{
    background-color: #2c976f; 
    border-radius: 5px;
    transition: all 0.8s;
}
#second_button:checked ~ .content_second-box > .content_second-box__buttons > .container_buttons > .label_for_button:nth-of-type(2) > div{
    background-color: #2c976f; 
    border-radius: 5px;
    transition: all 0.8s;
}
#third_button:checked ~ .content_second-box > .content_second-box__buttons > .container_buttons > .label_for_button:nth-of-type(3) > div{
    background-color: #2c976f; 
    border-radius: 5px;
    transition: all 0.8s;
}
#fourth_button:checked ~ .content_second-box > .content_second-box__buttons > .container_buttons > .label_for_button:nth-of-type(4) > div{
    background-color: #2c976f; 
    border-radius: 5px;
    transition: all 0.8s;
}
.label_for_button > div:hover{
    cursor: pointer;
    background-color: aliceblue;
    color: aliceblue;
}

.label_for_button > div:active{
    background-color: #88a584;
    border: 2px solid #666;
}

#first_button:checked ~ .content_images > .num1{
    margin-left: 0%;
    transition: 0.7s;
}
#second_button:checked ~ .content_images > .num1{
    margin-left: -25%;
    transition: 0.7s;
    
}
#third_button:checked ~ .content_images > .num1{
    margin-left: -50%;
    transition: 0.7s;
}
#fourth_button:checked ~ .content_images > .num1{
    margin-left: -75%;
    transition: 0.7s;
}

#first_button:checked ~ .content_second-box > .content_second-box__string > .one_img{
    margin-top: -0%;
    transition: all 1s;
}
#second_button:checked ~ .content_second-box > .content_second-box__string > .one_img{
    margin-top: -28%;
    transition: all 1s;
}
#third_button:checked ~ .content_second-box > .content_second-box__string > .one_img{
    margin-top: -60%;
    transition: all 1s;
}
#fourth_button:checked ~ .content_second-box > .content_second-box__string > .one_img{
    margin-top: -88%;
    transition: all 1s;
}


@media screen and (max-width: 791px){
    .content{
        width: 70%;
        height: 90%;
    }
    
    .content_second-box{
        display: flex;
        flex-direction: column-reverse;
        gap: 1em;
        height: 30%;
    }
    .container_buttons{
        margin-left: calc((100% - 20%) / 2);
        height: 30%;
    }

    .content_second-box__string{
        width: 100%;
        height: 370%;
    }
    .slide_string{
       width: 100%;
       flex-wrap: wrap;
       overflow: visible;
    }
    #first_button:checked ~ .content_second-box > .content_second-box__string > .one_img{
        display: block;
        
    }
    #first_button:checked ~ .content_second-box > .content_second-box__string > .two_img, .three_img, .four_img{
        display: none;
    }
    #second_button:checked ~ .content_second-box > .content_second-box__string > .two_img{
        display: block;
    }
    #second_button:checked ~ .content_second-box > .content_second-box__string > .one_img, .three_img, .four_img{
        display: none;
    }
    #third_button:checked ~ .content_second-box > .content_second-box__string > .three_img{
        display: block;
    }
    #third_button:checked ~ .content_second-box > .content_second-box__string > .one_img, .two_img, .four_img{
        display: none;
    }
    #fourth_button:checked ~ .content_second-box > .content_second-box__string > .four_img{
        display: block;
    }
    #fourth_button:checked ~ .content_second-box > .content_second-box__string > .one_img, .two_img, .three_img{
        display: none;
    }
}
